a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.body {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 28%;
  padding-left: 10%;
  font-family: sans-serif;
  overflow: scroll;
  background-color: white;
}
.about {
  position: absolute;
  padding-top: 1%;
  top: 1%;
  padding-left: 70%;
  font-size: 20px;
  z-index: 200;
}
.download {
  position: absolute;
  padding-top: 1%;
  top: 1%;
  padding-left: 78%;
  font-size: 20px;
}
.upper {
  position: fixed;
  width: 100%;
  background-color: rgb(236, 236, 236);
  height: 30%;
  z-index: 100;
  text-align: center;
  padding-top: 25%;
  overflow: hidden;
  background-size: cover;
  text-align: center;
}
.upperside {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 150%;
  z-index: 200;
}
.uppertext {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
  animation: appear 1.2s;
  z-index: 200;
}
.undertext {
  position: fixed;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  z-index: 200;
}
/*.offer {
  position: fixed;
  top: 54%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: 450;
  z-index: 300;
}
*/
.stt {
  position: fixed;
  top: 68%;
  right: 70%;
  font-size: 100%;
  z-index: 100;
}
.VoicetoText {
  position: fixed;
  top: 61%;
  right: 76%;
  font-size: 190%;
  font-weight: 450;
  z-index: 100;
}
.easeuse {
  position: fixed;
  top: 61%;
  left: 76%;
  font-size: 190%;
  font-weight: 450;
  z-index: 100;
}
.ease {
  position: fixed;
  top: 68%;
  left: 70%;
  padding-right: 8%;
  font-size: 100%;
  z-index: 100;
}
.dot {
  position: fixed;
  top: 49%;
  left: 6%;
  height: 27rem;
  width: 28.3rem;
  background-color: rgb(214, 211, 211);
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  position: fixed;
  top: 49%;
  right: 6%;
  height: 27rem;
  width: 28.3rem;
  background-color: rgb(214, 211, 211);
  border-radius: 50%;
  display: inline-block;
}
/*.dot2 {
  position: absolute;
  left: 36%;
  top: 95%;
  height: 27rem;
  width: 28.3rem;
  background-color: rgb(214, 211, 211);
  border-radius: 50%;
  display: inline-block;
}*/
.free {
  position: relative;
  top: 61%;
  right: 76%;
  font-size: 190%;
  font-weight: 450;
  z-index: 100;
}
@keyframes appear {
  from {
    top: -20%;
  }
  to {
    top: 25%;
  }
}
@media only screen and (max-width: 980px) {
  .download {
      right: 8%;
      font-size: 30px;
  }
  .soon {
    top: 60%;
  }
  .about {
    right: 30%;
    font-size: 30px;
  }
  .upper {
    height: 40%;
  }
  .offer {
    top: 44%;
  }
  .dot {
    left: 2%;
  }
  .dot1 {
    left: 52%;
  }
  .VoicetoText {
    top: 53%;
    right: 67%;
  }
  .easeuse {
    top: 53%;
    left: 67%;
  }
  .stt {
    top: 57%;
    right: 54%;
    font-size: 110%;
    padding-right: 0.5%;
  }
  .ease {
    top: 57%;
    left: 55%;
    font-size: 110%;
  }
}
@media (max-height: 1400px) {
  .stt {
    top: 60%;
  }
  .ease {
    top: 60%;
  }
}
@media (min-width: 1000px) {
  .stt {
    right: 55%;
    top: 54%;
    font-size: 110%;   
  }
  .dot {
    left: 3%;
    top: 42%;
  }
  .dot1 {
    right: 3%;
    top: 42%;
  }
  .offer {
    top: 35%;
  }
  .VoicetoText {
    top: 48%;
    right: 68%;
  }
  .easeuse {
    top: 48%;
    left: 68%;
  }
  .ease {
    top: 54%;
    left: 55%;
    font-size: 110%;
  }
}
@media (min-width: 1200px) {
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .body {
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 28%;
    padding-left: 10%;
    font-family: sans-serif;
    background-color: white;
  }
  .about {
    position: absolute;
    padding-top: 1%;
    top: 1%;
    padding-left: 70%;
    font-size: 20px;
    z-index: 200;
  }
  .download {
    position: absolute;
    padding-top: 1%;
    top: 1%;
    padding-left: 78%;
    font-size: 20px;
  }
  .upper {
    position: fixed;
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 30%;
    z-index: 100;
    text-align: center;
    padding-top: 25%;
    overflow: hidden;
    background-size: cover;
    text-align: center;
  }
  .upperside {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 150%;
    z-index: 200;
  }
  .uppertext {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    animation: appear 1.2s;
    z-index: 200;
  }
  .undertext {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    z-index: 200;
  }
/*  .offer {
    position: fixed;
    top: 54%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-weight: 450;
    z-index: 300;
  }
*/
  .stt {
    position: fixed;
    top: 68%;
    right: 70%;
    font-size: 100%;
    z-index: 100;
  }
  .VoicetoText {
    position: fixed;
    top: 61%;
    right: 76%;
    font-size: 190%;
    font-weight: 450;
    z-index: 100;
  }
  .easeuse {
    position: fixed;
    top: 61%;
    left: 76%;
    font-size: 190%;
    font-weight: 450;
    z-index: 100;
  }
  .ease {
    position: fixed;
    top: 68%;
    left: 70%;
    padding-right: 8%;
    font-size: 100%;
    z-index: 100;
  }
  .dot {
    position: fixed;
    top: 49%;
    left: 6%;
    height: 27rem;
    width: 28.3rem;
    background-color: rgb(214, 211, 211);
    border-radius: 50%;
    display: inline-block;
  }
  .dot1 {
    position: fixed;
    top: 49%;
    right: 6%;
    height: 27rem;
    width: 28.3rem;
    background-color: rgb(214, 211, 211);
    border-radius: 50%;
    display: inline-block;
  }
}

/*.body {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 28%;
  padding-left: 10%;
  font-family: sans-serif;
  overflow: scroll;
  background-color: white;
}
.upper {
  display: flex;
  justify-content: flex-start;
  font-size: 150%;
}
.upperside {
  font-size: 150%;
}
.about {
  margin-left: auto;
}*/
